.footer {
  display: flex;
  flex-direction: column; 
  align-items: end; 
  color: #9b9b9b;
  font-size: 11px;

  .footerlist {
    margin-bottom: 4px;

    span {
      margin-right: 4px;
    }

    a {
      color: #666565;
    }
  }
  
}
